  <h1>Company#view</h1>
  <%= render "error" %>

  <p>
    <strong>Name</strong><br/>
    <%= @company.name %>
  </p>
  <p>
    <strong>Nif</strong><br/>
    <%= @company.nif %>
  </p>
  <p>
    <strong>Description</strong><br/>
    <%= @company.description %>
  </p>